
.contact-container {
    width: 100vw;
    height: 100/12 * 11 * 1vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 { 
        grid-area: 2 / 3 / 3 / 11;
        color: $dark; 
        margin: 0;
        font-size: 2.5rem;
        font-weight: lighter;
    }
}

.contact-form {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

*:focus {
    outline: none;
}

input:focus, textarea:focus {
    background-color: $middle;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light;
    width: calc(100vw/4);
    height: calc(100vh/12 * 6.5);
    border-radius: 100/48 * 1vw;
    min-height: 600px;
    min-width: 360px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.contact-input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: $dark;
    border-radius: 100/48 * 1vw;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.2rem;
    min-height: 2rem;
}

textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize: none;
    background-color: $dark;
    height: 8rem;
    border-radius: 100/48 * 1vw;
    border: none;
    padding: 1rem;
    padding-bottom: 2rem;
    color: white;
    font-size: 1.2rem;
    overflow: hidden;
    font-family: Montserrat;
}

.submit-btn {
    border: none;
    background-color: #86A760;
    border-radius: 100/48 * 1vw;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1rem;
    transition: .7s;
    min-height: 2rem;
}

.submit-btn:hover {
    background-color: #628838;
}

.form-title-line {
    width: $col2;
}

.spacer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

input, textarea {
    min-width: 10rem;
}