
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');

$dark: #222;
$dark-l: #272727;
$dark-d: #1e1e1e;
$light: #eee;
$middle-d: #333;
$middle: #555;
$middle-l: #aaa;

@import './contact.scss';

html {
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

.App {
    width: 100vw;
    height: auto;
}

body {
    background-color: #222;
}

.grid {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto 2rem auto auto auto auto;
    grid-template-areas:
        ". title title ."
        ". . . ."
        ". subtitle subtitle ."
        ". summary summary ." 
        ". p-content p-content ."
        ". technologies technologies .";

    margin-bottom: 25vh;
}


.title {
    grid-area: title;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: solid 1px #ddd;
    
    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 100;
        font-size: 7rem;
        color: white;
        margin-bottom: .5rem;
    }
}

.subtitle {
    grid-area: subtitle;

    display: flex;
    justify-content: center;
    height: 7rem;
    

    h3 {
        color: $middle-l;
        font-weight: 200;
        letter-spacing: .2rem;
        border-bottom: solid 1px $middle;
        height: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.header {
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: $light;
    display: flex;
    justify-content: space-between;

    z-index: 2;

    .left {
        margin-left: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }

    .right {
        width: 14vw;
        margin-right: 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            p {
                font-size: large;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.landing {
    width: 100vw;
    height: 120vh;
    background-color: #222;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.l-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        color: #fff;
        letter-spacing: .25rem;
        margin-bottom: .25rem;
    }
    
    h4 {
        color: $middle-l;
    }
    
    svg {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-bottom: 4vh;
    }
}

.p-content {
    grid-area: p-content;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: relative;

    margin-bottom: 4vh;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31vw;
    height: 31vw;
}

.project-img {
    height: 30vw;
}

.summary {
    grid-area: summary;
    padding: 30px;

    text-align: justify;

    padding-left: 20%;
    padding-right: 20%;

    margin-bottom: 3rem;
    
    h2 {
        color: #fff;
        margin-bottom: 1.5rem;
        font-weight: 100;
        text-align: center;
    }
    
    p {
        color: #bbb;
        margin-bottom: 15px;
    }
}

.technologies {
    grid-area: technologies;
    padding: 30px;

    text-align: justify;

    padding-left: 20%;
    padding-right: 20%;

    margin-top: 1rem;

    border-bottom: 1px solid $middle-d;

    h2 {
        color: #fff;
        margin-bottom: 1.5rem;
        font-weight: 100;
        text-align: center;
    }
    
    p {
        color: #bbb;
        margin-bottom: 15px;
    }
}

.techText {
    min-height: 13rem;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.unclickable {
    border: 1px solid $middle !important;
}

.unclickable:hover {
    background-color: $dark !important;
}

.button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 1px solid white;
    background-color: $dark;
    
    transition: .25s;
}

.button:hover {
    transform: scale(2);
}

.footer {
    width: 80vw;
    height: 50px;
    background-color: $dark;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    border-top: 1px solid $middle-d;

    p {
        color: #888;
    }
}

.smaller {
    padding: 3vh;
    height: 20vw;
}

.btn-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid white;
    transition: .15s;
    background-color: $dark;
}

.btn-img:hover {
    transform: scale(1.15);
    background-color: $middle-d;
}

.current-view {
    margin-left: calc(10vw - 60px);
    font-size: x-large;
    font-weight: 500;
    color: $dark;
}

a {
    color: white;
}

.me {
    height: 100vh;
    margin-left: 5vw;
    margin-top: -75vh;
}

.intro-text {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    p {
        color: $middle-l;
        text-align: center;
        letter-spacing: .1rem;
        font-size: .9rem;
    }
}

.down {
    transform: rotate(270deg);
    overflow: visible;
    height: 2rem;
    border: 1px solid $middle-l;
    border-radius: 50%;
    margin-top: 1.5rem;
    transition: .3s;
    animation: callDown 4s ease-in-out infinite;
}

@keyframes callDown {
    0% {
        transform: rotate(270deg);
    }
    60% {
    }
    80% {
        transform: scale(1.5) rotate(270deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.down:hover {
    transform: scale(1.5) rotate(270deg) !important;
    background-color: $middle-d;
}

#myosotis {
    background-color: white;
}

@import 'max-width-1280.scss';
@import 'portrait.scss';
@import 'max-width-767.scss';
@import 'min-width-1920.scss';
@import 'about.scss';