@media screen and (max-width: 767px) {
    .header {
        height: 50px;

        .left {
            margin-left: 10vw;
            margin-right: 0;
            width: 40vw;

            .logo {
                width: 35px;
                height: 35px;
            }
        }

        .right {
            

            a {
               
                p {
                    font-size: small;
                }
            }
        }
    }

    .subtitle {
        h3 {
            font-size: .8em;
        }
    }

    .btn-img {
        height: 5vw;
        width: 5vw;
    }
    .normal {
        height: 50vw !important;
    }

    .smaller {
        height: 50vw !important;
    }

    .summary {
        padding-left: 10vw;
        padding-right: 10vw;
        p {
            font-size: .6em;
        }
        h2 {
            font-size: 1em;
        }
    }
    .technologies {
        padding-left: 10vw;
        padding-right: 10vw;
        p {
            font-size: .6em;
        }
        h2 {
            font-size: 1em;
        }
    }

    .button {
        height: 20px;
        width: 20px;
    }

    .buttons {
        margin-top: 2rem;
    }

    .grid {
        grid-template-rows: auto 1rem auto auto auto;
    }

    .l-content {
        svg {
            height: 200px;
            width: 200px;
        }
    }

    .footer {
        height: 30px;
        p {
            font-size: xx-small;
        }
    }

    .current-view {
        font-size: large;
        width: calc(80vw - 120px);
        display: flex;
        justify-content: center;
    }

    .technologies {
        border-bottom: 1px solid #333;
        padding-bottom: 20vw;
    }

    .contact-container {
        height: calc(100vh - 80px);
        padding-top: 50px;

        h2 {
            font-size: xx-large;
        }
    }

    .form-container {
        width: 275px;

        .contact-input {
            width: 80%;
            font-size: small;
        }

        .submit-btn {
            font-size: medium;
        }
    }
}

.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.about-summary {
    position: relative;
    height: auto;
    padding-top: 5vh;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5vh;
    width: calc(100vw - 50px);
    background-color: rgba(0,0,0,0);

    p {
        text-align: justify;
        margin-left: 0;
    }
}

.about-main {
    padding-top: 6.5vh;
    margin-left: 0;

    p {
        padding-left: 0;
        padding-right: 0;
    }
}

.about-content {
    padding-top: 0;
}