@media screen and (max-width: 767px) {
    .header {
        height: 50px;

        .left {
            margin-left: 10vw;
            margin-right: 10vw;
            width: 80vw;

            .logo {
                width: 35px;
                height: 35px;
            }
        }

        .right {
            width: 0;

            a {
                display: none;
                p {
                    font-size: small;
                }
            }
        }
    }

    .btn-img {
        height: 5vw;
        width: 5vw;
    }
    .normal {
        height: 50vw !important;
    }

    .smaller {
        height: 50vw !important;
    }

    .summary {
        padding-left: 10vw;
        padding-right: 10vw;
        p {
            font-size: .6em;
        }
    }
    .technologies {
        padding-left: 10vw;
        padding-right: 10vw;
        p {
            font-size: .6em;
        }
    }

    .button {
        height: 20px;
        width: 20px;
    }

    .buttons {
        margin-top: 2rem;
    }

    .grid {
        grid-template-rows: auto 1rem auto auto auto;
    }

    .l-content {
        .logo{
            height: 150px;
            width: 150px;
        }
    }

    .footer {
        height: 30px;
        p {
            font-size: xx-small;
        }
    }

    .current-view {
        // margin-left: calc(40vw - 60px);
        margin-left: none;
        font-size: large;
        width: calc(80vw - 120px);
        display: flex;
        justify-content: center;
    }

    .technologies {
        border-bottom: 1px solid #333;
        padding-bottom: 20vw;
    }

    .contact-container {
        height: calc(100vh - 80px);
        padding-top: 50px;

        h2 {
            font-size: xx-large;
        }
    }

    .form-container {
        width: 275px;

        .contact-input {
            width: 80%;
            font-size: small;
        }

        .submit-btn {
            font-size: medium;
        }
    }
}
