.project-container {
    display: grid;
    grid-template-columns: repeat(12, $col);
    grid-template-rows: repeat(14, $row);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: calc(100vh / 4);
}
    
.img-container {
     grid-area: 1 / 1 / 9 / 13;
     background-color: $middle; 
}

.text-container { 
    grid-area: 10 / 3 / 15 / 11; 
    background-color: $middle-d;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: .2rem;
    
    .left {
        grid-area: 4 / 3 / 22 / 8;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;

        h4 {
            color: $light;
            font-size: .75rem; 
            grid-area: 1 / 2 / 3 / 5; 
        }

        p { 
            color: #fff;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: .5rem;
            margin-right: .5rem;
            font-size: .5rem;
            grid-area: 4 / 1 / 15 / 6; 
        }
    }


    .right {
        grid-area: 4 / 10 / 22 / 15; 
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;

        h4 { 
            color: $light;
            font-size: .75rem; 
            grid-area: 1 / 2 / 3 / 5;
        }

        p { 
            color: #fff;
            text-align: center;
            font-size: .5rem;
            grid-area: 4 / 1 / 11 / 6;
        }

    .tech1 { grid-area: 12 / 1 / 15 / 2; }
    .tech2 { grid-area: 12 / 2 / 15 / 3; }
    .tech3 { grid-area: 12 / 3 / 15 / 4; }
    .tech4 { grid-area: 12 / 4 / 15 / 5; }
    .tech5 { grid-area: 12 / 5 / 15 / 6; }
    }
}


